<h3>Breakfast</h3>
<br>

<ul>
  <% @breakfasts.each do |breakfast| %>
  <li><%= link_to breakfast.add_food, breakfast_path(breakfast) %></li>
  <% end %>
</ul>

<%= link_to 'Add Food', new_breakfast_path, id: "new_breakfast", remote: true %>
