<h3>Lunch</h3>
<br>

  <ul>
    <% @lunches.each do |lunch| %>
      <% if current_user == lunch.user %>
        <li><%= link_to lunch.add_food, lunch_path(lunch) %></li>
      <% end %>
    <% end %>
  </ul>

<%= link_to 'Add Food', new_lunch_path, id: "new_lunch", remote: true %>
