<h3>Breakfast</h3>
<br>

  <ul>
    <% @breakfasts.each do |breakfast| %>
      <% if current_user == breakfast.user %>
        <li><%= link_to breakfast.add_food, breakfast_path(breakfast) %></li>
      <% end %>
    <% end %>
  </ul>

<%= link_to 'Add Food', new_breakfast_path, id: "new_breakfast", remote: true %>
